USE [master]
GO
/****** Object:  Database [dbhomemx]    Script Date: 20/11/2021 03:52:26 p. m. ******/
CREATE DATABASE [dbhomemx]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbhomemx', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbhomemx.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbhomemx_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbhomemx_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbhomemx].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbhomemx]
GO
/****** Object:  Table [dbo].[direccion]    Script Date: 20/11/2021 03:52:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direccion](
	[iddireccion] [int] IDENTITY(1,1) NOT NULL,
	[calle] [text] NOT NULL,
	[cruzamiento1] [text] NOT NULL,
	[cruzamiento2] [text] NULL,
	[noExterior] [varchar](20) NOT NULL,
	[localidad] [text] NOT NULL,
	[entidadFed] [text] NOT NULL,
	[cp] [int] NOT NULL,
	[ubicacion] [text] NOT NULL,
	[auxiliar] [text] NULL,
 CONSTRAINT [PK_direccion] PRIMARY KEY CLUSTERED 
(
	[iddireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imagen]    Script Date: 20/11/2021 03:52:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imagen](
	[idimage] [int] IDENTITY(1,1) NOT NULL,
	[image] [image] NULL,
	[auxiliar] [text] NULL,
 CONSTRAINT [PK_imagen] PRIMARY KEY CLUSTERED 
(
	[idimage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mensaje]    Script Date: 20/11/2021 03:52:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mensaje](
	[idmensaje] [int] IDENTITY(1,1) NOT NULL,
	[mensaje] [text] NOT NULL,
	[idpropiedad] [int] NOT NULL,
	[idEmisor] [int] NULL,
	[idReceptor] [int] NULL,
	[fecha] [date] NULL,
	[status] [varchar](50) NULL,
	[auxiliar] [text] NULL,
 CONSTRAINT [PK_mensaje] PRIMARY KEY CLUSTERED 
(
	[idmensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[propiedad]    Script Date: 20/11/2021 03:52:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[propiedad](
	[idpropiedad] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NOT NULL,
	[numCuartos] [int] NOT NULL,
	[espacioPersonas] [int] NOT NULL,
	[precio] [int] NOT NULL,
	[deposito] [int] NOT NULL,
	[fechaAlta] [date] NULL,
	[status] [varchar](50) NULL,
	[contrato] [varchar](50) NULL,
	[idimagen] [int] NULL,
	[iddireccion] [int] NOT NULL,
	[idservicios] [int] NOT NULL,
	[idusuario] [int] NOT NULL,
	[auxiliar] [text] NULL,
 CONSTRAINT [PK_propiedad] PRIMARY KEY CLUSTERED 
(
	[idpropiedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[renta]    Script Date: 20/11/2021 03:52:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[renta](
	[idrenta] [int] IDENTITY(1,1) NOT NULL,
	[idusuario] [int] NULL,
	[idpropiedad] [int] NULL,
	[status] [varchar](30) NULL,
	[auxiliar] [text] NULL,
 CONSTRAINT [PK_renta] PRIMARY KEY CLUSTERED 
(
	[idrenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicios]    Script Date: 20/11/2021 03:52:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicios](
	[idservicios] [int] IDENTITY(1,1) NOT NULL,
	[internet] [bit] NULL,
	[comida] [bit] NULL,
	[limpieza] [bit] NULL,
	[amueblada] [bit] NULL,
	[parking] [bit] NULL,
	[alberca] [bit] NULL,
	[clima] [bit] NULL,
	[terraza] [bit] NULL,
	[lavanderia] [bit] NULL,
	[auxiliar] [text] NULL,
 CONSTRAINT [PK_servicios] PRIMARY KEY CLUSTERED 
(
	[idservicios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 20/11/2021 03:52:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[apellido] [varchar](80) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contraseña] [varchar](16) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[auxiliar] [text] NULL,
	[idmensaje] [int] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[propiedad]  WITH CHECK ADD  CONSTRAINT [FK_propiedad_direccion1] FOREIGN KEY([iddireccion])
REFERENCES [dbo].[direccion] ([iddireccion])
GO
ALTER TABLE [dbo].[propiedad] CHECK CONSTRAINT [FK_propiedad_direccion1]
GO
ALTER TABLE [dbo].[propiedad]  WITH CHECK ADD  CONSTRAINT [FK_propiedad_imagen] FOREIGN KEY([idimagen])
REFERENCES [dbo].[imagen] ([idimage])
GO
ALTER TABLE [dbo].[propiedad] CHECK CONSTRAINT [FK_propiedad_imagen]
GO
ALTER TABLE [dbo].[propiedad]  WITH CHECK ADD  CONSTRAINT [FK_propiedad_servicios1] FOREIGN KEY([idservicios])
REFERENCES [dbo].[servicios] ([idservicios])
GO
ALTER TABLE [dbo].[propiedad] CHECK CONSTRAINT [FK_propiedad_servicios1]
GO
ALTER TABLE [dbo].[propiedad]  WITH CHECK ADD  CONSTRAINT [FK_propiedad_usuario] FOREIGN KEY([idusuario])
REFERENCES [dbo].[usuario] ([idusuario])
GO
ALTER TABLE [dbo].[propiedad] CHECK CONSTRAINT [FK_propiedad_usuario]
GO
ALTER TABLE [dbo].[renta]  WITH CHECK ADD  CONSTRAINT [FK_renta_propiedad] FOREIGN KEY([idpropiedad])
REFERENCES [dbo].[propiedad] ([idpropiedad])
GO
ALTER TABLE [dbo].[renta] CHECK CONSTRAINT [FK_renta_propiedad]
GO
ALTER TABLE [dbo].[renta]  WITH CHECK ADD  CONSTRAINT [FK_renta_usuario1] FOREIGN KEY([idusuario])
REFERENCES [dbo].[usuario] ([idusuario])
GO
ALTER TABLE [dbo].[renta] CHECK CONSTRAINT [FK_renta_usuario1]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_mensaje1] FOREIGN KEY([idmensaje])
REFERENCES [dbo].[mensaje] ([idmensaje])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_mensaje1]
GO
USE [master]
GO
